@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('../node_modules/bootstrap-icons/font/bootstrap-icons.min.css');
body {
    font-family: 'Roboto', sans-serif !important;
}
.bg-hero{
    background-image: url('./Assets/banner.png');
    background-repeat: no-repeat;
    background-size:cover;
    height: 1110.069px;
    /* width: 1440px; */
    flex-shrink: 0;
}