.freelancer-login-heading {
  color: #1a728e;
  text-align: center;
  text-shadow: 0px 1.146px 1.146px rgba(0, 0, 0, 0.25);
  font-size: 35.032px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
