.userChatInterface-body {
  height: 86vh;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
}
.userChatInterface-input {
  position: absolute;
  bottom: 15px;
}

.userChatInterface-input input {
  border-radius: 9px;
  background: #fff;
  box-shadow: 0px 0.89px 3.89px 4px rgba(0, 0, 0, 0.25);
  padding-left: 40px;
  margin-left: 20px;
}
.userChatInterface-keyboard-icon {
  z-index: 1;
  margin-left: 31px;
  margin-bottom: 23px;
}

/* modifications  */
#display-user-messages {
  height: 100%;
  overflow-y: scroll;
  position: relative;
}

.userChatInterface-chat1 {
  width: fit-content;
  max-width: 90%;
  min-height: 47px;
  border-radius: 9px;
  text-align: left;
  color: black;
  background-color: #d8c1eb;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 8px 8px 0px 8px;
  position: relative;
  left: 20px;
  display: block;
  clear: both;
}
.userChatInterface-chat2 {
  max-width: 90%;
  min-height: 47px;
  border-radius: 9px;
  text-align: right;
  color: black;
  background-color: #d8c1eb;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 8px 8px 0px 8px;
  position: relative;
  left: -25px;
  display: block;
  float: right;
  clear: both;
}
