@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.no-user-selected-body h2 {
  color: #1181b598;
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  margin: auto;
  width: 651px;
  height: 149px;
  flex-shrink: 0;
  padding-left: 20px;
  margin-top: 10%;
}
.no-user-selected-body h1 {
  color: #1181b598;
  font-family: Poppins;
  font-size: 64px;
  font-weight: 600;
  margin: auto;
  width: 651px;
  height: 149px;
  line-height: 100px;
}
.no-user-selected-body {
  text-align: justifyccd;
}
